extends layout/jumbotron

append body
  .container
    form(role='form', action="/posting/upload",method="post", style='max-width: 300px;')
      .form-group
        label(for='comment') Title:
        input.form-control(type='text', name="title", placeholder='Enter Title')
      .form-group
        label(for='description') Description:
        textarea#comment.form-control(rows='5', name="description", placeholder='Enter description')
      .form-group
        label(for='file') Image:
        input.form-control(type='file', name="imageId")
      button.btn.btn-default(type='submit') Submit
      &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
