extends ../layout/jumbotron

append body
  .jumbotron
    .container
      p
        +a-btn-success("/posting/upload") New Posting
        +a-btn-success("/posting/user/" + user.username) My Postings
      p
        each posting in postings
          +panel-primary(posting.title)
            h3 !{posting.description}
            +img-responsive("/posting/img/" + posting.imgId)
            div user: 
              +label-default(posting.username)
            div at: 
              +label-info(posting.postingDate)
            div Keyworsd: 
              each keyword in posting.imgKeyword
                +label-primary(keyword)
